* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}


html, body{
    font-family: 'Nunito Sans', sans-serif;
    color: #37465A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    width: 100%; /* Asegura que no tenga scroll horizontal */
}

#sectionPriceCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 15px;
    margin-bottom: 60px;
    background-color: #F3F7F9;
    width: 100%;
}
#PriceCards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; 
}
#cardIzquierda{
    margin: 35px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Se ajusta al ancho del contenedor */
    width: 334px;
    border: 1px solid #EEEEEE;
    padding: 30px 15px;
    border-radius: 6px;
    transition: box-shadow 0.3s;
    background-color: white;
}
#cardDerecha{
    margin: 35px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Se ajusta al ancho del contenedor */
    width: 334px;
    border: 1px solid #EEEEEE;
    padding: 30px 15px;
    border-radius: 6px;
    transition: box-shadow 0.3s;
    background-color: white;
}
#cardPopular{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Se ajusta al ancho del contenedor */
    width: 334px;
    border: 2px solid #009DFF;
    padding: 30px 15px;
    border-radius: 0 0 6px 6px;
    transition: box-shadow 0.3s;
    background-color: white;
}
#etiquetaPopular{
    width: 100%;
    background-color: #009DFF;
    text-align: center;
    color: white;
    border-radius: 6px 6px 0 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 700; 
}

#cardIzquierda:hover, #cardDerecha:hover{
    border: 1px solid #009DFF;
    box-shadow: 2px 2px 10px rgba(209, 209, 209, 0.5);
}
#cardPopular:hover{
    border: 2px solid #009DFF;
    box-shadow: 2px 2px 10px rgba(209, 209, 209, 5);
}

.nav-btn {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background-color: white;
    color: #009DFF;
    border: 1px solid #D8D8D8;
    border-radius: 33px;
    height: 36px;
    width: 36px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .leftCarrusel {
    display: flex;
    justify-content: center;
    left: 10px;
  }
  
  .rightCarrusel {
    display: flex;
    justify-content: center;
    right: 10px;
  }









#descriptionButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.descriptionText{
    margin-top: 30px;
    margin-bottom: 15px;
    font-style: italic;
}
#buttonPrimary{
    background-color: #009DFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
#buttonPrimary:hover, #btnFormHero:hover{
    background-color: #4DBAFF;
}


h1{
    font-size: 36px;
    font-weight: 900;
    line-height: normal;
}

h5 {
    font-size: 20px;
    font-weight: 800;
}

h2{
    font-size: 32px;
    font-weight: 900;
    margin-right: 5px;
}

h6{
    font-size: 18px;
    font-weight: 800;
}


#price, #features{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 18px 0 5px 0;
}
#funcionalidadDesabled{
    color: #A4A4A4;
}

#discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 0 15px 0;
}

.ahorro{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;

}

.tag{
    background-color: #FFA532;
    padding: 1px 10px;
    border-radius: 12px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}

.antes{
    font-weight: 300;
    color: #A4A4A4;
}

.meses{
    font-size: 16px;  
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 300;
}



#btn{
    width: 100%;
}
#btnBuy{
    background-color: #7AC23A;
    color: white;
    font-weight: 700;
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}
#btnBuy:hover{
    background-color: #A2D675;
}
#btn p{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

#features{
    width: 100%;
}
#features p{
    width: 100%;
}
#check{
    margin-right: 15px;
}

#btnDown{
    margin-top: 30px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
    color: #009DFF;
    padding: 12px 0;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}
#btnDown:hover{
    background-color: #EBF7FF;
}









.tooltip, .login {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.loginDesplegable{
    position: absolute;
    z-index: 1;
    top: 100%; /* debe ser 100% para que quede pegado al boton de arriba y al hacer hover siga funcionando */
    left: -150%;
}
.paisDesplegable{
    position: absolute;
    z-index: 1;
    top: 32px;
    right: 430px;
}

.menuDesplegableMobile{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 100%;
    overflow-x: hidden; /* No permite desbordamiento en el eje x */
    transition: 0.3s; /* Transición suave */
}
.overflow-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%; /* Ocupa el 20% restante */
    background-color: #37465A; /* Color azul oscuro */
    height: 100vh; /* Altura del contenedor */
    overflow: auto; /* Permite el desplazamiento si el contenido excede */
    opacity: 80%;
}




.productosMenu{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 30px 60px 45px 60px;
    border-bottom: 1px solid #eeeeee;
    position: absolute;
    z-index: 1;
    top: 98px;
    right: 0;
    width: 100%;
    box-shadow: 2px 10px 20px rgba(209, 209, 209, 0.5);
}

.inactive{
    display: none;
}


 /* Texto del tooltip */
.tooltip .tooltiptext {
    font-size: 14px;
    font-weight: 600;
    visibility: hidden;
    width: 200px;
    background-color: #37465A;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 145%; /* Posición sobre el elemento */
    left: -100%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

 /* Flecha del tooltip */
.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #37465A transparent transparent transparent;
}

/* Mostrar el tooltip al pasar el ratón por encima */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }











#navegador{
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between; /* para que me separe el header la info de la derecha con la info de la izq */
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 60px;
    border-bottom: 1px solid #EEEEEE;
}
a{
    text-decoration: none;
    color:#37465A;
}
#itemSelected{
    font-weight: 700;
    color: #009DFF;
    margin-bottom: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
}
ul li{
   margin-right: 30px; 
}
#logoImagen{
    margin-right: 60px;
}

.linea{
    width: 34px;
    height: 3px; /* El grosor de la línea */
    border: none; /* Para quitar el borde por defecto */
    background-color:#009DFF; /* Color de la línea */
    margin-top: 5px;
}
#desplegable{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 30px;
    cursor: pointer;
}

#desplegable2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}
#desplegable3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.desProductos:hover{
    color: #009DFF;
}
#opcionDesplegable{
    margin-right: 5px;
}
#opcionDesplegable:hover{
    cursor: pointer;
}
.fa-solid:hover{
    cursor: pointer;
}

#opcionDesplegable2{
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
}
i{
    color: #37465A;
    font-size: 14px;
}
#iconTelefono{
    padding-right: 5px;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}


.left {
    margin-right: auto; /* Alinea a la izquierda */
}

.right {
    display: flex;
    margin-bottom: 5px;
    margin-left: auto; /* Alinea a la derecha */
    
}

#topBar{
    background-color: #009DFF;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-right: 60px;
}

#textoTopBar{
    font-size: 12px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#textoTopBar2{
    font-size: 12px;
    margin-right: 0;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#iconTopBar{
    color: white;
}
.linea2{
    margin-right: 15px;
    border: none;
    background-color: white;
    width: 1px;
}
#flag{
    margin-right: 5px;
}



.menuMobile{
    display: none;
    cursor: pointer;
}






#menuLogin, #menuPaises{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4px 0;
    border: 1px solid #D8D8D8;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(209, 209, 209, 0.5);
    width: 250px;
}

#loginItem, #paisItem{
    margin: 0px;
}
#loginItem:hover, #paises:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.item{
    padding: 10px 15px;
    display: block; /* Asegura que el enlace ocupe todo el espacio del li */
}
.item:hover, .paisItem:hover{
    color: #009DFF;
}





#menuPaises{
    width: 175px; /* arriba hay otro */
}
#paises{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    margin: 0;
}
#pais{
    width: 100%;
    margin: 0;
}
.paisItem{
    width: 100%;
    display: block;
    padding: 10px 15px 10px 10px;
}

#paisSeleccionado{
    font-weight: 700;
    padding: 10px 15px 10px 10px;
}
.paisItemSeleccionado{
    color: #009DFF;
}
.fa-check{
    color:#009DFF;
}
#banderaPais{
    width: 20px;
    height: 20px;
}











#descripciones{
    display: flex;
    flex-direction: row;
}
.descripcionIzquierda, .descripcionDerecha{
    padding: 15px 30px 0 0;
}
h6{
    font-size: 18px;
    font-weight: 800;
}
#productoDescripcion{
    padding: 0 0 15px 0;
}
#productoDescripcion:hover{
    color: #009DFF;
}
#p3{
    font-size: 14px;
    font-weight: 700;
}
#caption{
    padding-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
















#headerMenuMobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
}
.fa-xmark{
    color: #009DFF;
}
#logoMobile{
    width: 42px;
    height: 26px;
}
#menuMobile{
    padding: 15px 30px 0 30px;
    height: 100%;
}
#desplegableMobile{
    display: flex;
    flex-direction: column;
}
#desplegableMobileBar{
    display: flex;
    flex-direction: column;
    background-color: #009DFF;
    color: white;
}
#itemMobileMenu{
    padding: 10px 0;
}
#menuMobileBar{
    width: 100%;
    margin: 0;
}
#itemMobileMenuBar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
}
#paisesMobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seleccionado{
    font-weight: 700;
    color: #009DFF;
}
.mobileLinea{
    margin-top: -5px;
}











#heroBanner{
    width: 100%;
    height: 507px;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: url('imagenes/heroBanner.jpg');
    background-size: cover;
    background-position: center;
}
#contenedorHero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#heroBannerIzquierda{
    width: 45%;
}
#contenidoHeroBanner{
    padding-bottom: 30px;
}
#tituloHeroBanner{
    color: white; 
    padding-bottom: 15px;
}
#descripcionHeroBanner{
    color: white; 
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
}
#btnHeroBanner{
    background-color: #009DFF;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
}

#formHeroBanner{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 45px 30px;
    background-color: white;
    width: 444px;
    height: 396px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #D8D8D8;
}
#tituloFormHeroBanner{
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
#camposFormHero{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
input, select{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}
select{
    cursor: pointer;
    appearance: none; /* Ocultar flecha del select*/
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    background-image: url("imagenes/arrowSelect.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px; /* Tamaño del icono */
    padding-right: 10px;
}

input::placeholder{
    color: #A4A4A4;
}
input:hover, select:hover{
    background-color: #EBF7FF;
}
select:not(.placeholder) {
    color: #A4A4A4;
}
#txtCaptionForm{
    font-size: 12px;
    font-weight: 400;
}
#btnFormHero{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #009DFF;
    padding: 10px 0;
    width: 100%;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}













@media(max-width: 1060px){
    #menuTexto{
        display: none;
    }

    .menuMobile{
        display: block;
    }

    #heroBanner{
        width: 100%;
        height: 100%;
        padding-bottom: 45px;
    }
    #heroBannerIzquierda{
        margin-right: 30px;
    }
}



@media(max-width: 768px){
    #heroBanner{
        width: 100%;
        height: 100%;
        padding-bottom: 45px;
    }
    #heroBannerIzquierda{
        margin-right: 30px;
    }
    #formHeroBanner{
        height: 450px;
    }

    #cardIzquierda{
        margin: 35px 15px;
    }
    #priceCardPopular{
        margin-bottom: 30px;
    }
    #cardDerecha{
        margin: 0 15px;
    }
}







@media(max-width: 570px){
    #desplegable3, #linea2{
        display: none;
    }

    #header, #topBar {
        padding: 10px;
    }
    ul {
        flex-wrap: wrap; /* Asegura que los elementos no desborden */
    }

    #heroBanner{
        width: 100%;
        height: 100%;
        background-image: url('imagenes/heroBannerMobile.jpg');
        background-size: cover;
        padding: 30px 15px;
    }
    #contenedorHero{
        display: flex;
        flex-direction: column;
    }
    #heroBannerIzquierda{
        width: 100%;
        margin-bottom: 30px;
    }
    #formHeroBanner{
        width: 100%;
        height: 100%;
    }

    #cardIzquierda{
        margin: 0 0 30px 0;
    }
}





@media(max-width: 375px){
    #textoTopBar, #linea3{
        display: none; 
    }
    #iconTelefono{
        display: block;
        margin-top: 3px;
    }

    body{
        width: 100%;
        min-width: 324px;
    }
    #card {
        width: auto; /* Ajusta el card al contenido */
        max-width: 100%; /* Evita desbordamientos */
    }




    #heroBanner{
        width: 100%;
        height: 100%;
        background-image: url('imagenes/heroBannerMobile.jpg');
        background-size: cover;
        padding: 30px 15px;
    }
    #contenedorHero{
        display: flex;
        flex-direction: column;
    }
    #heroBannerIzquierda{
        width: 100%;
        margin-bottom: 30px;
    }
    #formHeroBanner{
        width: 100%;
        height: auto;
    }




    #PriceCards{
        width: 100%;
        margin: 60px 0 0 0;
    }

    #sectionPriceCards{
        padding: 0;
        width: 100%;
    }
    #cardDerecha{
        margin: 0;
    }
    #descriptionButton{
        margin: 0 15px 60px 15px;
    }
    #planName{
        text-align: center;
    }






    #buttonPrimary, #btnHeroBanner{
        width: 100%;
    }

}





@media(max-width: 320px){
    #PriceCards{
        width: 100%;
    }
    #sectionPriceCards{
        width: 100%;
    }

    #PriceCards, #cardIzquierda, #priceCardPopular, #cardDerecha{
        width: 95%;
    }
    
}
