* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}


html, body{
    font-family: 'Nunito Sans', sans-serif;
    color: #37465A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    width: 100%; /* Asegura que no tenga scroll horizontal */
}

#card{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Se ajusta al ancho del contenedor */
    width: 334px;
    border: 1px solid #EEEEEE;
    padding: 30px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#card:hover{
    border: 1px solid #009DFF;
    box-shadow: 2px 2px 10px rgba(209, 209, 209, 0.5);
}

h5 {
    font-size: 20px;
    font-weight: 800;
}

h2{
    font-size: 32px;
    font-weight: 900;
    margin-right: 5px;
}

h6{
    font-size: 18px;
    font-weight: 800;
}


#price, #features{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 18px 0 5px 0;
}

#discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 0 15px 0;
}

.ahorro{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;

}

.tag{
    background-color: #FFA532;
    padding: 1px 10px;
    border-radius: 12px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}

.antes{
    font-weight: 300;
    color: #A4A4A4;
}

.meses{
    font-size: 16px;  
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 300;
}



#btn{
    width: 100%;
}
#btnBuy{
    background-color: #7AC23A;
    color: white;
    font-weight: 700;
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
#btnBuy:hover{
    background-color: #A2D675;
}
#btn p{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

#features{
    width: 100%;
}
#features p{
    width: 100%;
}
#check{
    margin-right: 15px;
}

#btnDown{
    margin-top: 30px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
    color: #009DFF;
    padding: 12px 0;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
}
#btnDown:hover{
    background-color: #EBF7FF;
}









.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

 /* Texto del tooltip */
.tooltip .tooltiptext {
    font-size: 14px;
    font-weight: 600;
    visibility: hidden;
    width: 200px;
    background-color: #37465A;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 145%; /* Posición sobre el elemento */
    left: -100%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

 /* Flecha del tooltip */
.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #37465A transparent transparent transparent;
}

/* Mostrar el tooltip al pasar el ratón por encima */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }











#navegador{
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between; /* para que me separe el header la info de la derecha con la info de la izq */
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 60px;
    border-bottom: 1px solid #EEEEEE;
}
a{
    text-decoration: none;
    color:#37465A;
}
#itemSelected{
    font-weight: 700;
    color: #009DFF;
    margin-bottom: 5px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
}
ul li{
   margin-right: 30px; 
}
#logoImagen{
    margin-right: 60px;
}

.linea{
    width: 34px;
    height: 3px; /* El grosor de la línea */
    border: none; /* Para quitar el borde por defecto */
    background-color:#009DFF; /* Color de la línea */
    margin-top: 5px;
}
#desplegable{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 30px; 
}
#desplegable2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#desplegable3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin-right: 15px; 
}
#opcionDesplegable{
    margin-right: 5px;
}
#opcionDesplegable2{
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
}
i{
    color: #37465A;
    font-size: 14px;
}
#iconTelefono{
    padding-right: 5px;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}


.left {
    margin-right: auto; /* Alinea a la izquierda */
}

.right {
    display: flex;
    margin-bottom: 5px;
    margin-left: auto; /* Alinea a la derecha */
    
}

#topBar{
    background-color: #009DFF;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-right: 60px;
}

#textoTopBar{
    font-size: 12px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#textoTopBar2{
    font-size: 12px;
    margin-right: 0;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#iconTopBar{
    color: white;
}
.linea2{
    margin-right: 15px;
    border: none;
    background-color: white;
    width: 1px;
}
#flag{
    margin-right: 5px;
}



.menuMobile{
    display: none;
}





@media(max-width: 1060px){
    #menuTexto{
        display: none;
    }

    .menuMobile{
        display: block;
    }
}


@media(max-width: 570px){
    #desplegable3, #linea2{
        display: none;
    }

    #header, #topBar {
        padding: 10px;
    }
    ul {
        flex-wrap: wrap; /* Asegura que los elementos no desborden */
    }
}

@media(max-width: 375px){
    #textoTopBar, #linea3{
        display: none; 
    }
    #iconTelefono{
        display: block;
        margin-top: 3px;
    }

    body{
        width: 100%;
        min-width: 324px;
    }
    #card {
        width: auto; /* Ajusta el card al contenido */
        max-width: 100%; /* Evita desbordamientos */
    }
}


